/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/03/2019, 09:30:57 PM
    Author     : ExtremeTech
*/

.slider{
    background: url("../image/background_1.jpg");
    height: 20vh;
    background-size:cover;
    background-position: center;
}

.minh-100 {
    display:flex;
    align-items:center;
    min-height:100vh;
}

.minh-50 {
    display:flex;
    align-items:center;
    min-height:70vh;
}

.minh-30 {
    display:flex;
    align-items:center;
    min-height:58vh;
}


.box {
    background:#fff;
    transition:all 0.2s ease;
    border:2px dashed #dadada;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    background-clip: padding-box;
    padding:0 20px 20px 20px;
    min-height:340px;
}

.box:hover {
    border:2px solid #525C7A;
}

.box span.box-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.box .box-content {
    padding: 16px;
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    box-sizing: border-box;
}

.box .box-content p {
    color:#515c66;
    text-transform:none;
}

.login-box{
    border-radius: 15px;
    box-shadow: 10px 12px 24px 10px rgba(0, 0, 0, .5);
    position: relative;
}

.login-header{
    border-radius: 15px;
    text-align: center;
    font-size: 35px;
    background: linear-gradient(to bottom, #00bfff 0%, #0000ff 100%);
    color:#fff;
    box-shadow: 1px 3px 14px  rgba(0, 0, 0, .5);
    position: relative;
}

.login-body{
    padding: 20px;
    line-height: 2;
}
